
@include media-breakpoint-down(sm) {

    .section-nav-title {
        display: inline;
        text-align: center;
    }
}


.nav_image {
    max-height: 100px;
}

.dropdown-menu, .navbar-collapse {
    font-size: 1.25rem;
}

@include media-breakpoint-down(lg) {
    .nav_image {
        max-height: 60px;
    }
}

@include media-breakpoint-down(md) {
    .nav_image {
        max-height: 30px;
        order: 0;
    }
    .navbar-brand {
        font-size: 1rem;
        order: 1;
    }
    .navbar-toggler {
        font-size: 1rem;
        order: 3;
    }
    .dropdown-menu {
        font-size: 1rem;
        order: 4;
    }
    .navbar-collapse {
        order: 10;
    }
}

@include media-breakpoint-down(sm) {
    .nav_image {
        max-height: 20px;
    }
    .navbar-brand {
        font-size: 0.9rem;
    }
    .navbar-toggler {
        font-size: 0.75rem;
    }
}

.modNav-top {

    .module-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: $spacer * 8;
        max-height: $spacer * 8;
    }

    .module-nav-item {
        text-align: center;

        // box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
        // display: flex;
        // justify-content: center;
        // flex-direction: column;
        // text-align: center;
    }

}

.modNav-bottom {
    padding-top: $spacer;
    .module-nav {
        padding-top: $spacer;
        padding-bottom: $spacer;
    }
    .module-nav-item {
        padding: 0;
        line-height: 1.2;
        text-align: center;
    }
}

@include media-breakpoint-down(sm) {
    .modNav-top {
        display: none;
    }
}

@include media-breakpoint-up(md) {
    .modNav-bottom {
        display: none;
    }
}


.module-nav-item {
    line-height: 1;
    font-size: $font-size-base;

    a {
        color: $gray-200;
    }

    a.active {
        color: $brand-accent;
    }
}


.footer-nav {
    padding-bottom: 2rem;
    .foot-nav-element {
        padding: 1rem;
    }
    .foot-nav-element:hover {
        background: $brand-accent;
    }
}
.nav-link{
    padding: 0;
    // color: $brand-compliment-2;
}


.due-date {
    // text-align: center;
    color: $white;
    font-size: $font-size-base * 1.25;
}

@include media-breakpoint-down(lg) {

    .due-date {
        font-size: $font-size-base;
    }
}

@include media-breakpoint-down(sm) {
    .due-date {
        font-size: $font-size-base * 0.7;
        flex-direction: column;
    }
}
